@import "../../styles/global.scss";

.pageRoot {
}

.postsCount {
  /* Layout */
  display: flex;
  align-items: center;
  height: 400px;

  /* Style */
  background-color: var(--siteColor);
}

.postsCountContent {
  /* Width */
  composes: siteWidth;

  /* Layout */
  flex: 1;
}

.postsCountHeading {
  /* Font */
  color: var(--matterColorLight);

  margin-top: -12px;
  margin-bottom: 0;
}

.content {
  /* Width */
  composes: siteWidth;

  /* Paddings */
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
