:root {
  --siteColor: #184979;
  --siteColorLight: #1298d2;

  --matterColor: #6c6c78;
  --matterColorLight: #ffffff;
  --matterColorDark: #2c2c37;
  --matterColorNegative: #efeff2;
  --matterColorAnti: #f7f7f8;
  --matterColorAntiDark: #b4b7d4;

  --failColor: #ff0000;
  --failColorLight: #fff0f0;

  --borderRadius: 5px;
  --borderRadiusLarge: 10px;

  --boxShadow: 2px 3px 43px var(--matterColorNegative);
  --transitionStyle: all 0.15s ease-in-out;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--matterColorDark);
}

a,
.a {
  /* Font */
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--matterColorDark);
  text-decoration: none;

  /* Effects */
  transition: var(--transitionStyle);

  &:hover {
    color: var(--siteColorLight);
  }
}

p {
  /* Font */
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: var(--matterColor);
}

input,
select {
  /* Font */
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--matterColor);

  /* Layout */
  box-sizing: border-box;
  height: 40px;
  padding: 12px 15px;

  /* Style */
  background-color: var(--matterColorNegative);
  border: 1px solid var(--matterColorNegative);
  border-radius: var(--borderRadius);

  /* Effects */
  transition: var(--transitionStyle);

  &::placeholder {
    color: var(--matterColorAntiDark);
  }
  &:hover {
    border-color: var(--siteColorLight);
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:required:invalid {
    color: var(--matterColorAntiDark);
  }
}

h1,
h2,
h3 {
  color: var(--matterColorDark);
  letter-spacing: 0;
}

h1 {
  /* Font */
  font-size: 50px;
  line-height: 70px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 70px;
    line-height: 90px;
  }
}

h2 {
  /* Font */
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}

h3 {
  /* Font */
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
}

h4 {
  /* Font */
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}

.siteWidth {
  max-width: 1410px;

  margin: 0 auto;
  padding: 0 24px;
}
